.main-section__button {
  padding: 0 1rem;
  margin: 0;
  background-color: rgb(60, 60, 90);
  font-family: "Poppins", "Verdana", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 0.5rem;
  border-width: 0;
  min-height: 3rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .main-section__button {
    margin-left: 2rem;
    padding: 0 0.6rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .main-section__button {
    margin-left: 3rem;
    padding: 0 0.8rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    min-height: 3rem;
  }
}
