@font-face {
  font-family: 'Poppins';
  src: url(../fonts/_Poppins/Poppins-Regular.ttf);
  font-style:  normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/_Poppins/Poppins-Bold.ttf);
  font-style:  normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/_Poppins/Poppins-Black.ttf);
  font-style:  normal;
  font-weight: 900;
}