.main-section__subtitle {
  margin: 0.5rem 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 600px) {
  .main-section__subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .main-section__subtitle {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
